* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
    font-size: clamp(14px, 1.5vw, 18px); 
    width: -webkit-fill-available;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: -webkit-fill-available;
  }
  .form-section, .preview-section {
    flex: 1;
    min-width: 300px;
    padding: 10px;
  }

  .form-section {
    flex: 0 0 48%;
    background-color: #e3e2de !important;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  .preview-section {
    flex: 0 0 48%;
    background-color: #084063 !important;
    padding: 20px;
    box-sizing: border-box;
  }

    @media (max-width: 768px) {
    .form-section, .preview-section {
        flex: 0 0 100%;
    }
  }

  .form-group {
    margin-bottom: 1rem;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #084063;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  #preview {
    background: #084063;
    color: white;
    border-radius: 5px;
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }

  .form-group{
    display: flex;
  }
  .form-group label{
    width: 9.375rem;
    margin-right: 1rem;
  }
  .form-group input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  input{
    box-shadow: 3px 3px 4px  rgba(0,0,0,.5);
  }

  .add-red-star::after  {
    content: " *";
    color: red;
    font-weight: bold;
  }

  #name:focus, #email:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255,0,0,.5);
  }


  #website, #linkedIn {
    width: -webkit-fill-available;
    margin-right: 1.3vh;
  }

  #country, #address {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 4px  rgba(0,0,0,.5);
  }

  #bouton {
    background-color:  #084063;
  }

  #logo {
    display: block;
    width: 100%;
    height: auto;
    max-width: 150px;
  }

  .logo-and-infos {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-and-infos img{
    object-fit: cover;
    margin-left: auto;
  }


  .qr-card {
    display: flex;
    justify-content: center; 
  }

  #qrcode {
    display: none;
    width: 12.5rem;
    height: 12.5rem;
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 7vh;
  }


  .personal-infos {
    flex: 1;
    margin-top: 9vh;
    font-size: clamp(1rem, 2.5vw, 1rem);
    max-width: 800px;
  }

  .globe-section {
    flex: 1;
  }

  .globe-section img{
    width: 15rem; 
    height: auto;
    float: right;
  }

  .summary p,
  .summary a,
  .summary h3   {
    color: white;
    margin-bottom: 4px;
  }

  .notification {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: none;
    font-size: 0.75rem;
  }

  .success{
    background-color: #198754;
    color: white;
  }

  .error{
    background-color: #f44336;
    color: white;
  }

  #toast.show{
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: 768px){
    #notification {
      min-width: 200px;
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
  }

  .personal-infos {
    flex: 1 1 60%;
    min-width: 250px;
  }
  
  @media (max-width: 480px) {
    .globe-section img{
      width: 12rem; 
    }
  }

  .globe-section {
    flex: 1 1 40%;
    min-width: 200px;
  }

  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
    }
  
    .personal-infos,
    .globe-section {
      flex: 1 1 100%;
    }
  }

  #download-qr-code {
    background-color:  #084063;
    float: right;
    display: none;
    margin-left: auto;
    margin-top: 0.5rem;
  }

  #summary-infos {
    position: relative;
    height: fit-content;
  }

  #globe-section {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6.25rem;
    height: auto;
    object-fit: contain;
  }


@media (max-width: 480px) {
    #globe-section {
      width: 10%;
      max-width: 50px;
    }
  }

#phone-section {
  display: none;
}

#display-adress {
  font-size: clamp(14px, 2.5vw, 18px);
  display: inline-block;
  line-height: 1.5;
}

#email-error {
  color: red;
  font-size: 14px;
  display: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#custom-address {
  display: none;
}

#custom-street, #custom-code, #custom-city, #additional-street{
  height: fit-content;
}

#other-country {
  display: none;
}
